<!--
  Generated template for the WudhuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>wudhu</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="pp">


    <ion-slides pager  >

        <ion-slide  >
         
            <ion-card>
                <!-- <img class="imgWudhu" src="../../assets/imgs/wudhu/1.png"/> -->
                <ion-card-content>
                    <!-- <button ion-button color="secondary" block > Play </button> -->
                    <button *ngIf="plays === false" ion-button icon-only color="primary" (click)="play(value='sebelum')">
                      <ion-icon name="play"></ion-icon>
                    </button>
                    <button *ngIf="plays === true" ion-button icon-only color="danger" (click)="stop(value='sebelum')">
                      <ion-icon name="refresh-circle"></ion-icon>
                    </button>
                  <ion-card-title>
                     <h5>
                       Doa Sebelum Wudhu
                      </h5>
                    </ion-card-title>
                  <p>
                      نَوَيْتُ الْوُضُوْءَ لِرَفْعِ الْحَدَثِ اْلاَصْغَرِ فَرْضًا ِللهِ تَعَالَى
                      <br><br>
                      “Nawaitul whudu-a lirof’il hadatsii ashghori fardhon lillaahi ta’aalaa”
                      <br><br>
                      “Saya niat berwudhu untuk menghilangkan hadast kecil fardu (wajib) karena Allah ta’ala”.
                  </p>

                </ion-card-content>
            </ion-card>

        </ion-slide>

        <ion-slide  >
         
            <ion-card>
                <img class="imgWudhu" src="../../assets/imgs/wudhu/1.png"/>
                <ion-card-content>
                  <ion-card-title>
                     <h5>1. Mencuci kedua telapak tangan sebanyak tiga kali
                      </h5>
                    </ion-card-title>
                  <p>
                      Dengan gerakan menyeka pada sela-sela jari telapak tangan yang dimulai dari tangan kanan kemudian tangan kiri kemudian diriringi dengan membaca doa.
                  </p>

                </ion-card-content>
            </ion-card>

        </ion-slide>
      
        <ion-slide  >
         
            <ion-card>
                <img class="imgWudhu" src="../../assets/imgs/wudhu/2.png"/>
                <ion-card-content>
                  <ion-card-title>
                    <h5>2. Berkumur
                      </h5>
                    </ion-card-title>
                  <p>
                      Berkumur sebanyak 3 kali, dengan gerakan utuh membersihkan mulut (bahkan dari sisa-sisa makanan yang masih ada pada mulut).
                  </p>

                </ion-card-content>
            </ion-card>

        </ion-slide>
      
        <ion-slide  >
         
            <ion-card>
                <img class="imgWudhu" src="../../assets/imgs/wudhu/3.png"/>
                <ion-card-content>
                  <ion-card-title>
                    <h5>3. Membasuh hidung
                      </h5>
                    </ion-card-title>
                  <p>
                      Membasuh lubang hidung secara menyeluruh, sebanyak 3 kali gerakan.
                  </p>

                </ion-card-content>
            </ion-card>

        </ion-slide>

        <ion-slide  >
         
            <ion-card>
                <img class="imgWudhu" src="../../assets/imgs/wudhu/4.png"/>
                <ion-card-content>
                  <ion-card-title>
                    <h5>4. Membasuh Muka
                      </h5>
                    </ion-card-title>
                  <p>
                      Membasuh seluruh permukaan wajah dengan rata, sebanyak 3 kali gerakan memutar sekeliling wajah.
                  </p>

                </ion-card-content>
            </ion-card>

        </ion-slide>


        <ion-slide  >
         
            <ion-card>
                <img class="imgWudhu" src="../../assets/imgs/wudhu/5.png"/>
                <ion-card-content>
                  <ion-card-title>
                    <h5>5. Membasuh kedua tangan
                      </h5>
                    </ion-card-title>
                  <p>
                      Membasuh kedua tangan hingga mencapai siku, sebanyak 3 kali gerakan memutar dan menyeluruh ke permukaan tangan.
            
                  </p>

                </ion-card-content>
            </ion-card>

        </ion-slide>


        <ion-slide  >
         
            <ion-card>
                <img class="imgWudhu" src="../../assets/imgs/wudhu/6.png"/>
                <ion-card-content>
                  <ion-card-title>
                    <h5>6.  Membasuh kepala mulai dari ubun-ubun
                      </h5>
                    </ion-card-title>
                  <p>
                      Membasuh kening hingga ujung kening (ubun-ubun) sampai sebagian kepala, sebanyak 3 kali gerakan menyeluruh.
                  </p>

                </ion-card-content>
            </ion-card>

        </ion-slide>


        <ion-slide >
         
            <ion-card>
                <img class="imgWudhu" src="../../assets/imgs/wudhu/7.png"/>
                <ion-card-content>
                  <ion-card-title>
                    <h5>7. Membasuh keduan telinga
                      </h5>
                    </ion-card-title>
                  <p>
                      Membasuh kedua tengila baik itu bagian dalam maupun luar telinga (daun telinga) hingga menyeluruh ke bagian telinga, sebanyak 3 kali gerakan.
                  </p>

                </ion-card-content>
            </ion-card>

        </ion-slide>


        <ion-slide  >
         
            <ion-card>
                <img class="imgWudhu" src="../../assets/imgs/wudhu/8.png"/>
                <ion-card-content>
                  <ion-card-title>
                    <h5>8. Mencuci kedua kaki
                      </h5>
                    </ion-card-title>
                  <p>
                      Membasuh kedua kaki dan diusahakan menyeluruh tidak pada bagian depan saja, basuh hingga ke seluruh kaki hingga ke mata kaki.
                  </p>

                </ion-card-content>
            </ion-card>

        </ion-slide>

        <ion-slide  >
         
            <ion-card>
                <!-- <img class="imgWudhu" src="../../assets/sounds/wudhu/sebelum.mp3"/> -->
                <ion-card-content>
                  <button *ngIf="plays === false" ion-button icon-only color="primary" (click)="play(value='setelah')">
                    <ion-icon name="play"></ion-icon>
                  </button>
                  <button *ngIf="plays === true" ion-button icon-only color="danger" (click)="stop(value='setelah')">
                    <ion-icon name="refresh-circle"></ion-icon>
                  </button>
                  <ion-card-title>
                     <h5>
                       Doa Sesudah Wudhu
                      </h5>
                    </ion-card-title>
                  <p>
                    <strong>
                    اَشْهَدُاَنْ لَااِلٰهَ اِلَّا اللّٰهُ وَحْدَهُ لَاشَرِيْكَ لَهُ. وَاَشْهَدُ اَنَّ مُحَمَّدًاعَبْدُهُ وَرَسُوْلُهُ. اَللّٰهُمَّ اجْعَلْنِىْ مِنَاالتَّوَّابِيْنَ، وَجْعَلْنِيْ مِنَ الْمُتَطَهِّرِيْنَ، وَجْعَلْنِىْ مِنْ عِبَادِكَ الصَّالِحِيْنَ
                  </strong>
                    <br><br>
                    <small>“Asyhadu allaa ilaaha illallah wahdahu laa syariikalahu . Wa asyhadu anna Muhammadan’abduhu wa rasuuluhu Allahumma-j alnii minattabinna waj alnii minal mutathohiirina waj alnii min ‘ibadatishalihin.”</small>
                      <br><br>
                      <small>“Saya bersaksi tiada Tuhan melainkan Allah yang esa , tiada sekutu bagi-Nya . Dan saya bersaksi bahwa nabi Muhammad adalah hamba-Nya dan utusan-Nya . Ya Allah jadikanlah saya orang yang ahli taubat , dan jadikanlah saya orang yang suci , dan jadikanlah saya dari golongan hamba-hamba Mu yang shaleh.”</small>
                      
                  </p>

                </ion-card-content>
            </ion-card>

        </ion-slide>


      <br>
      </ion-slides>

</ion-content>
